<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="google-site-verification" content="{{ .Site.Params.googleVerification }}" />

  <title>{{ block "title" . }}{{ .Title }} - GDTS{{ end }}</title>
  <meta content="{{ .Params.description | default .Site.Params.description }}" name="description">
  {{- with .Params.keywords }}
  <meta content="{{ . }}" name="keywords">
  {{- end }}

  {{- block "head-extra" . }}{{ end }}

  <!-- Favicons -->
  <link href="/assets/img/gdts.png" rel="icon">
  <link href="/assets/img/gdts.png" rel="apple-touch-icon">
  <link href="/assets/img/gdts.png" rel="shortcut icon">
  <link href="/assets/img/gdts.png" rel="image_src">

  <!-- Main CSS -->
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Top Bar ======= -->
  {{ partial "topbar.html" . }}

  <!-- ======= Header ======= -->
  {{ partial "nav.html" . }}

  {{- block "main" . }}{{ end }}

  <!-- ======= Footer ======= -->
  {{ partial "footer.html" . }}

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor CSS -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

  <!-- Vendor JS -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>

  <!-- Main JS -->
  <script src="/assets/js/main.js"></script>

</body>
</html>
